<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>LogicielJdR - Logiciel de feuille de personnages de JdR</title>
<link rel="shortcut icon" th:href="@{/images/favicon.ico}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap-theme.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap-theme.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/app/main.css}" />
</head>
<body id="page-top" class="index">
	<!-- nav bar -->
	<nav class="navbar navbar-fixed-top">
		<div class="container-fluid">
			<div class="nav-header">
				<a class="navbar-brand" href="#page-top">Logiciel JdR</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="#a-propos">A Propos</a></li>
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="">Jeux <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Pathfinder</a></li>
						<li><a href="#">L'Appel de Cthulhu</a></li>
						<li><a href="#">Vampire - Mascarade</a></li>
					</ul></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/inscription"><span
						class="glyphicon glyphicon-user"></span> Sign Up</a></li>
				<li><a href="/login"><span
						class="glyphicon glyphicon-log-in"></span> Login</a></li>
			</ul>
		</div>
	</nav>

	<!-- Description de l'application -->
	<header class="header">
		<div class="row main-title-container">
			<div class="col-md-12">
				<div>
					<h1>Logiciel JdR</h1>
					<p>Un logiciel, qu'il est facile à utiliser</p>
				</div>
			</div>
		</div>
	</header>

	<div class="separator"></div>

	<!-- Les jeux supportés -->
	<section id="a-propos">
		<div class="container">
			<div class="row">
				<div class="col-md-3 item-border">
					<h1>La présentation de jeux de rôles</h1>
				</div>
				<div class="col-md-3 item-border">
					<h1>La création de fiches de personnages</h1>
				</div>
				<div class="col-md-3 item-border">
					<h1>L'impression des fiches de personnages</h1>
				</div>
				<div class="col-md-3 item-border">
					<h1>Et bien d'autres choses ...</h1>
				</div>
			</div>
		</div>
	</section>






	<!-- Les jeux supportés -->




	<section class="testSection">
		<div class="container">
			<div class="row">
				<div class="col-md-6 testVign">
					<h1>Pathfinder</h1>
					<div class="img-thumbnail donjimage"></div>
					<p>Un jeu med fan</p>
					<button type="button" class="btn btn-default btn-lg btn-primary">
						En savoir plus <span class="glyphicon glyphicon-chevron-right"></span>
					</button>
				</div>
				<div class="col-md-6 testVign">
					<h1>Cthulhu</h1>
				</div>
				<div class="col-md-6 testVign">
					<h1>Vampire</h1>
				</div>
			</div>
		</div>
	</section>

	<div class="separator"></div>














	<!-- section D&D -->
	<section id="donjonetdragon" class="donjimage">
		<div class="container">
			<div class="row">
				<h1>DONJON &amp; DRAGONS</h1>
			</div>
		</div>
	</section>

	<!-- section Cthulhu -->
	<section id="appeldecthulhu" class="cthulhuimage">
		<div class="container">
			<div class="row">
				<h1>Cthulhu</h1>
			</div>
		</div>
	</section>

	<!-- section Vampire -->
	<section id="" class="">
		<div class="container">
			<div class="row">
				<p></p>
			</div>
		</div>
	</section>

	<div th:include="/fragment/footer :: index"></div>


</body>
</html>