<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>LogicielJdR - Logiciel de feuille de personnages de JdR</title>
<link rel="shortcut icon" th:href="@{/images/favicon.ico}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/app/main.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap-theme.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap-theme.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}" />
</head>
<body id="page-top" class="index">
	<!-- nav bar -->
	<nav class="navbar ">
		<div class="container">
			<div class="navbar-header page-scroll">
				<a class="navbar-brand" href="#page-top">Logiciel JdR</a>
			</div>
			<div class="">
				<ul class="nav navbar-nav navbar-right">
					<li class="hidden"><a href="#page-top"></a></li>
					<li class="page-scroll"><a href="#donjonetdragon">Donjon
							et Dragon</a></li>
					<li class="page-scroll"><a href="#appeldecthulhu">Appel de
							Cthulhu</a></li>
					<li class="page-scroll"><a href="#vampire">Vampire</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Description de l'application -->
	<header class="header"> 
		<div class="text-vertical-center">
			<h1>Logiciel JdR</h1>
		</div>
	</header>

	<div class="separator"></div>

	<!-- Les jeux supportés -->
	<section class="testSection">
		<div class="container">
			<div class="row">
				<div class="col-md-6 testVign">
					<h1>Pathfinder</h1>
					<div class="img-thumbnail donjimage"></div>
					<p>Un jeu med fan</p>
					<button type="button" class="btn btn-default btn-lg btn-primary">
						En savoir plus <span class="glyphicon glyphicon-chevron-right"></span>
					</button>
				</div>
				<div class="col-md-6 testVign">
					<h1>Cthulhu</h1>
				</div>
				<div class="col-md-6 testVign">
					<h1>Vampire</h1>
				</div>
			</div>
		</div>
	</section>

	<div class="separator"></div>














	<!-- section D&D -->
	<section id="donjonetdragon" class="donjimage">
		<div class="container">
			<div class="row">
				<h1>DONJON &amp; DRAGONS</h1>
			</div>
		</div>
	</section>

	<!-- section Cthulhu -->
	<section id="appeldecthulhu" class="cthulhuimage">
		<div class="container">
			<div class="row">
				<h1>Cthulhu</h1>
			</div>
		</div>
	</section>

	<!-- section Vampire -->
	<section id="" class="">
		<div class="container">
			<div class="row">
				<p></p>
			</div>
		</div>
	</section>



</body>
</html>