<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>LogicielJdR - Logiciel de feuille de personnages de JdR</title>
<link rel="shortcut icon" th:href="@{/images/favicon.ico}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap-theme.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap-theme.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/app/main.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/app/login.css}" />
</head>
<body>
	<div class="dragon-image"></div>
	<form action="/inscription" method="post">
		<div class="container">
			<h1>Formulaire Inscription</h1>
		</div>
	</form>
	<div th:include="/fragment/footer :: index"></div>
</body>
</html>