<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>LogicielJdR - Logiciel de feuille de personnages de JdR</title>
<link rel="shortcut icon" th:href="@{/images/favicon.ico}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap-theme.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap-theme.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/app/main.css}" />
</head>
<body>
	<h1>page Inscription</h1>
</body>
</html>