html {
	background-color: #401C18;
}

body {
	background: url('../../images/dragon_login.png') no-repeat ;
	background-size: 75%;
    background-position: left bottom;
}

.footer {
	position: fixed;
	display: table;
	background-color: transparent;
}

form {
	position: relative;
	text-align: center;
	color: #fff;
	height: 90%
}

