body {
	background-color: #401C18;
}

.dragon-image {
	background: url('../../images/dragon_index_2.jpg') no-repeat;
/* 	background: url('../../images/index_pres_2.jpg') no-repeat; */
}

.footer {
	position: fixed;
	display: table;
}

form {
	position: relative;
	text-align: center;
	color: #fff;
	height: 90%
}

